/* BEGIN PAGINATE */

.paginate {
  	text-align: center;
 	width: 100%; 
 		&__block {
		  	position: relative;
		  	display: inline-block;
		  	margin: 0 auto;
		  	padding: 3px 0;
		  	list-style: none;
		  	text-align: center;
		  	border-radius: 30px; 
		}
		&__list {
		  	display: inline; 
		}
		&__link {
		  	display: inline-block;
		  	width: 32px;
		  	height: 32px;
		  	margin: 1px 20px;
		  	padding: 7px 7px;
		  	border-radius: 50%;
		  	font-family: Ubuntu;
			font-size: 15px;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.33;
			letter-spacing: normal;
			text-align: center;
		  	color: $gray;
		  	text-decoration: none;
		  	box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.07);
		  	transition: all .3s ease-out; 
		  	&:first-child {
				margin-left: 0; 
			}
			&:last-child, .paginate a.last {
			  	margin-right: 0; 
			}
			&:hover, .paginate a:focus {
			  	background-color: $light-gray; 
			  	color: $gray;
			}
		}
		& a.first {
		  	margin-left: 0; 
		}
}

.paginate--margin {
  	margin-top: 30px;
  	margin-bottom: 70px; }

.paginate__link--active {
  	background: $bleu;
  	color: $white; 
}

.paginate__link--bleu {
  	color: $bleu; 
}

  /* END PAGINATE */