/* BEGIN SORTING */

.sorting-cont {
    float: right;
    border: 0 none; }

.sorting-form {
    width: 240px;
    padding: 10px 13px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    border: 1px solid $light-gray;
    background: #FFF; 
}

@media (max-width: 768px) {
    .sorting-form {
        width: 100%; 
    } 
    .sorting-cont {
        width: 100%; 
    } 
}

.select {
    width: 100%;
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
        &:after {
        content: "";
        padding: 0px;
        position: absolute;
        right: 18px;
        top: 0px;
        z-index: 1;
        width: 20%;
        height: 100%;
        background: url(../img/icons/16px/arrow-glyph-down.svg) no-repeat right;
        background-size: 15px;
        pointer-events: none;
        box-sizing: border-box; 
        }
}

@media (max-width: 768px) {
    .select:after {
        background-size: 15px;
        }
}

select {
    padding-right: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}

/* END SORTING */