/* --- BEGIN HEADER --- */

.header {
    padding: 10px 0px;
    width: 100%;
    background: $bleuBlack;

    .button-hamburger {
        @media(min-width: map-get($grid-breakpoints, lg)) {
            display: none;
        }
    }

    &_search {
        border: none;
        padding: 5px;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        font-size: 0;
        vertical-align: middle;
    }

    &_search-form {
        display: none;
        margin-top: 5px;

        input {
            width: 100%;
            font-family: inherit;
            font-size: inherit;
            height: 36px;
            border: none;
            border-radius: 30px;
            box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.2);
            padding: 0 15px;

            @include placeholder {
                opacity: .5;
            }
        }
    }
}

/* --- END HEADER --- */
