.form {
	margin: 0px;
	&__title {
		margin-bottom: 30px;
	}
	&__label {
		display: inline-block;
		width: 100%;
		height: auto;
		padding: 16px;
		margin-bottom: 22px;
		border-radius: 5px;
		box-shadow: 0 2px 20px 0 rgba(239, 239, 239, 0.8);
		background-color: &white;
		& span {
			display: block;
			margin-bottom: 6px;
		}
		& input, textarea {
			width: 100%;
			border: none;
		}
	}
	&__checkbox {
		margin-bottom: 47px;
		font-family: Ubuntu;
		font-size: 11px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.18;
		letter-spacing: normal;
		color: $gray;

	}
	&__checkbox-style {
		width: 16px;
		height: 16px;
		object-fit: contain;
	}
	&__applicationButton {
		display: inline-block;
		width: 100%;
		border-radius: 22px;
		border: none;
		background-color: $bleu;
		padding: 12px 0px;
		color: $white;
		font-size: 12px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.33;
		letter-spacing: normal;
		text-align: center;
		text-transform: uppercase;
		transition: all .3s ease-out;
		&:hover {
			transition: all .3s ease-out;
			background-color: $light-gray; 
			color: $gray;
		}
	}
}

@media (max-width: 991px) {
	.form__title {
		margin-top: 40px;
	}
}

.form__label--disabled {
	color: $gray;
	opacity: 0.3;
}

/* BEGIN CHEXBOX/RADIO */

.checkbox, .radio {
	display: none; 
}

.checkbox-custom, .radio-custom {
  	width: 20px;
  	height: 20px;
  	border: 2px solid $orange;
  	border-radius: 3px;
  	position: relative; 
}

.checkbox-custom, .radio-custom, .label {
  	display: inline-block;
  	vertical-align: middle;
  	color: #9FA3A7;
  	font-size: 12px; 
}

.checkbox:checked + .checkbox-custom::before {
  	content: "";
  	display: block;
  	position: absolute;
  	top: 0px;
  	right: 0px;
  	bottom: 0px;
  	left: 0px;
  	background: #FFFFFF url(../img/icons/16px/check.svg);
  	border-radius: 2px; 
}

.checkbox-custom--disable, .radio-custom--disable {
	width: 20px;
  	height: 20px;
  	border: 2px solid $gray;
  	border-radius: 3px;
  	position: relative; 
}

.checkbox:checked + .checkbox-custom--disable::before {
  	content: "";
  	display: block;
  	position: absolute;
  	top: 4px;
  	right: 3px;
  	bottom: 4px;
  	left: 3px;
  	background: #FFFFFF url(../img/icons/16px/check-disabled.svg);
  	border-radius: 2px; 
}

.radio:checked + .radio-custom::before {
  	content: "";
  	display: block;
  	position: absolute;
  	top: 3px;
  	right: 3px;
  	bottom: 3px;
  	left: 3px;
  	background: #FFFFFF url(../img/icons/16px/radio-selected.svg);
  	border-radius: 2px; 
}

.radio:checked + .radio-custom--disable::before {
  	content: "";
  	display: block;
  	position: absolute;
  	top: 3px;
  	right: 3px;
  	bottom: 3px;
  	left: 3px;
  	background: #FFFFFF url(../img/icons/16px/radio-selected-disabled.svg);
  	border-radius: 2px; 
}

.radio-custom, .radio:checked + .radio-custom::before {
	border-radius: 50%; 
}

/* END CHEXBOX/RADIO */