.form {
	margin: 0px;
	&__title {
		margin-bottom: 30px;
	}
	&__label {
		display: inline-block;
		width: 100%;
		height: auto;
		padding: 16px;
		margin-bottom: 22px;
		border-radius: 5px;
		box-shadow: 0 2px 20px 0 rgba(239, 239, 239, 0.8);
		background-color: &white;
		& span {
			display: block;
			margin-bottom: 6px;
		}
		& input, textarea {
			width: 100%;
			border: none;
		}
	}
	&__checkbox {
		margin-bottom: 47px;
		font-family: Ubuntu;
		font-size: 11px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.18;
		letter-spacing: normal;
		color: $gray;
	}
	&__checkbox-style {
		width: 16px;
		height: 16px;
		object-fit: contain;
	}
	&__applicationButton {
		display: inline-block;
		width: 100%;
		border-radius: 22px;
		border: none;
		background-color: $bleu;
		padding: 12px 0px;
		color: $white;

		font-size: 12px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.33;
		letter-spacing: normal;
		text-align: center;
		text-transform: uppercase;
		transition: all .3s ease-out;
		&:hover {
			transition: all .3s ease-out;
			background-color: $light-gray; 
			color: $gray;
		}
	}
}

@media (max-width: 991px) {
	.form__title {
		margin-top: 40px;
	}
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    border: 2px solid $orange;
    border-radius: 3px;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../img/icons/16px/check.svg) left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url(../img/icons/16px/check.svg) -19px top no-repeat;
}