/* BEGIN VS */

.vs {
	&__header {
	 width: 100%;
		height: auto;
		border-radius: 8px;
		background-image: linear-gradient(to left, #ffa50e, #f65335);
		}
		&__title {
			display: inline-block;
			width: 100%;
			height: auto;
			padding: 15px 0px;
			margin: 0 auto;
			font-family: Ubuntu;
			font-size: 14px;
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.18;
			letter-spacing: 0.1px;
			text-align: center;
			color: $white;
			text-transform: uppercase;
			&--mini {
			font-size: 10px;
				font-weight: 600;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				text-align: center;
			}
		}
		&__table {
			width: 100%;
			border-spacing: 0px;
		}
		&__table-item {
			vertical-align: top;
			text-align: left;
			padding: 0px 46px;
			border-bottom: solid 1px #ededed;
			&--style-border {
				border-right: solid 1px #ededed;
			}
		}
}

@media (max-width: 768px) {
	.vs__table-item {
		padding: 0px 5px;
	}
	.vs__title {
		padding: 15px 10px;
	}
}

/* END VS */